$primary-color:         #62d5b4;
$secondary-color:       #ee2039;

$background-color:      #399494;

$heading-color:         #184a4a;
$text-color:            #317373;
$link-color:            #ffffff;